<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
  <!--<![endif]-->
  <head>
    <%- include("../partials/head.ejs") %>
  </head>
  <body>
    <!--[if lt IE 7]>
      <p class="browsehappy">
        You are using an <strong>outdated</strong> browser. Please
        <a href="#">upgrade your browser</a> to improve your experience.
      </p>
    <![endif]-->
    <%- include("../partials/navbar.ejs") %>
    <!-- Custom content -->

    <div class="animate__animated animate__bounceInUp container center">
      <form
        action="/api/reviews/update"
        method="post"
        class="needs-validation"
        novalidate
      >
      <input type="hidden" name="id" value="<%- review.id %>">
        <div class="row form-group">
          <div
            class="col w-75 padding-20 mb-4 margin-right-20 margin-left-20 unique-color-dark text-primary z-depth-2"
          >
            <img
              src="<%- review.author.avatarURL %>"
              alt="User avatar"
              class="avatar-img"
              style="width: 5rem;"
            />
            <h5>
              <%- review.author.username %>
            </h5>
            <%- review.author.verified ? `<small><i class="fas fa-user-check"></i> Verified</small>` : "" %>
            <div class="center">
              <hr
                class="deep-purple accent-2 mb-2 mt-1 d-inline-block mx-auto"
                style="width: 140px;"
              />
            </div>

            <div class="center mb-1 <%- review.stars > 4 ? "text-success" : review.stars > 2 ? "text-info" : "text-danger" %>">
              <i class="fas fa-star"></i>
              <label for="stars">Stars</label>
              <input
                type="number"
                name="stars"
                id="stars"
                min="1"
                max="5"
                value="<%- review.stars %>"
                placeholder="Stars"
                class="form-control"
              />
              <div class="invalid-feedback">
                Please select between 1 and 5 stars
              </div>
            </div>

            <div class="form-group">
              <label for="text">Review</label>
              <textarea
                name="reviewText"
                id="text"
                cols="30"
                rows="10"
                placeholder="Review"
                class="form-control"
                required
              ><%- review.text %></textarea>
              <div class="invalid-feedback">
                Please enter at least 10 words. No more than 1000 words
              </div>
            </div>

            <div class="center">
              <button type="submit" class="btn btn-primary btn-md">Update</button>
              <a href="/reviews/<%- review.id %>" class="btn btn-outline-danger btn-md">Cancle</a>
            </div>
          </div>
        </div>
      </form>
    </div>

    <!-- Included content -->
    <%- include("../partials/footer.ejs") %> <%- include("../partials/js.ejs")
    %>
  </body>
</html>