<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
  <!--<![endif]-->
  <head>
    <%- include("../partials/head.ejs") %>
  </head>
  <body>
    <!--[if lt IE 7]>
      <p class="browsehappy">
        You are using an <strong>outdated</strong> browser. Please
        <a href="#">upgrade your browser</a> to improve your experience.
      </p>
    <![endif]-->
    <%- include("../partials/navbar.ejs") %>
    <!-- Custom content -->

    <div class="animate__animated animate__bounceInUp unique-color-dark container center">
      <div class="container padding-10 center w-25 border-bottom border-primary">
        <h6 class="text-primary">
          Average:
          <span class="<%- averageStars > 4 ? "text-success" : averageStars > 2 ? "text-info" : "text-danger" %>">
            <i class="fas fa-star"></i>
            <%- averageStars || 0 %>
          </span>
        </h6>
        <a href="/reviews/new" class="btn btn-primary btn-md">Add a review</a>
      </div>

      <br />

      <% for(let i = 0; i < reviews.length; i += 2) { const part =
      reviews.slice(i, i + 2); %>
      <div class="container center mb-4">
        <%- part.map(review => `
        <div
          class="col padding-20 text-primary bg-dark z-depth-1"
        >
          <img
            src="${review.author.avatarURL}"
            alt="User avatar"
            class="avatar-img"
            style="width: 5rem;"
          />
          <h5>
            ${review.author.username}
          </h5>
          ${review.author.verified ? `<small><i class="fas fa-user-check"></i> Verified</small>` : ""}
          <div class="center">
            <hr
              class="deep-purple accent-2 mb-2 mt-1 d-inline-block mx-auto"
              style="width: 140px;"
            />
          </div>

          <div class="center mb-1 ${review.stars > 4 ? "text-success" : review.stars > 2 ? "text-info" : "text-danger"}">
            <i class="fas fa-star"></i>
            ${review.stars} / 5
          </div>

          ${review.text}

          <hr />

          <a href="/reviews/${review.id}" class="btn btn-primary btn-md">View</a>
        </div>
        `).join("") %>
      </div>
      <br />
      <% } %>
    </div>

    <!-- Included content -->
    <%- include("../partials/footer.ejs") %> <%- include("../partials/js.ejs")
    %>
  </body>
</html>
