<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
  <!--<![endif]-->
  <head>
    <%- include("../partials/head.ejs") %>
  </head>
  <body>
    <!--[if lt IE 7]>
      <p class="browsehappy">
        You are using an <strong>outdated</strong> browser. Please
        <a href="#">upgrade your browser</a> to improve your experience.
      </p>
    <![endif]-->
    <%- include("../partials/navbar.ejs") %>
    <!-- Custom content -->

    <div
      class="animate__animated animate__bounceInUp z-depth-2 container center padding-20 unique-color-dark text-primary"
    >
      <form
        action="/api/reviews/new"
        method="post"
        id="review-form"
        class="needs-validation"
        novalidate
      >
        <input type="hidden" name="userID" value="<%- user.id %>" />
        <div class="form-group row">
          <div class="center container">
            <label for="stars">Stars</label>
            <input
              type="number"
              name="stars"
              id="stars"
              min="1"
              max="5"
              placeholder="Stars"
              class="form-control"
            />
            <div class="invalid-feedback">
              Please select between 1 and 5 stars
            </div>
          </div>
        </div>
        <div class="form-group row">
          <div class="col">
            <label for="text">Review</label>
            <textarea
              name="reviewText"
              id="text"
              cols="30"
              rows="10"
              placeholder="Review"
              class="form-control"
              required
            ></textarea>
            <div class="invalid-feedback">
              Please enter at least 10 words. No more than 1000 words
            </div>
          </div>
        </div>
        <button type="submit" class="btn btn-primary btn-md">Submit</button>
        <a href="/reviews" class="btn btn-outline-danger btn-md">Cancle</a>
      </form>
    </div>

    <!-- Included content -->
    <%- include("../partials/footer.ejs") %> <%- include("../partials/js.ejs")
    %>
  </body>
</html>
