<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
  <!--<![endif]-->
  <head>
    <%- include("../partials/head.ejs") %>
  </head>
  <body>
    <!--[if lt IE 7]>
      <p class="browsehappy">
        You are using an <strong>outdated</strong> browser. Please
        <a href="#">upgrade your browser</a> to improve your experience.
      </p>
    <![endif]-->
    <%- include("../partials/navbar.ejs") %>
    <!-- Custom content -->

    <div class="container padding-10 container center">
      <a href="#" onclick="window.history.back()" class="btn btn-primary btn-md">Back</a>
    </div>
    <br />
    <div class="animate__animated animate__bounceInUp container center">
      <div class="row">
        <div
          class="col w-75 padding-20 mb-4 margin-right-20 margin-left-20 unique-color-dark text-primary z-depth-2"
        >
          <img
            src="<%- review.author.avatarURL %>"
            alt="User avatar"
            class="avatar-img"
            style="width: 5rem;"
          />
          <h5>
            <%- review.author.username %>
          </h5>
          <%- review.author.verified ? `<small><i class="fas fa-user-check"></i> Verified</small>` : "" %>
          <%- review.edited ? "<small>(edited)</small>" : "" %>
          <div class="center">
            <hr
              class="deep-purple accent-2 mb-2 mt-1 d-inline-block mx-auto"
              style="width: 140px;"
            />
          </div>

          <div class="center mb-1 <%- review.stars > 4 ? "text-success" : review.stars > 2 ? "text-info" : "text-danger" %>">
            <i class="fas fa-star"></i>
            <%- review.stars %> / 5
          </div>

          <%- review.text %>

          <% if (review.author.id === user.id || user.admin) { %>
            <hr />
            <div class="center container">
              <form action="/api/reviews/delete" method="post">
                <input type="hidden" name="id" value="<%- review.id %>">
                <a href="/reviews/<%- review.id %>/edit" class="btn btn-primary btn-md">Edit</a>
                <button type="submit" class="btn btn-outline-danger btn-md">Delete</button>
              </form>
            </div>
          <% } %>
        </div>
      </div>
    </div>

    <!-- Included content -->
    <%- include("../partials/footer.ejs") %> <%- include("../partials/js.ejs")
    %>
  </body>
</html>