<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
  <!--<![endif]-->
  <head>
    <%- include("../partials/head.ejs") %>
  </head>
  <body>
    <!--[if lt IE 7]>
      <p class="browsehappy">
        You are using an <strong>outdated</strong> browser. Please
        <a href="#">upgrade your browser</a> to improve your experience.
      </p>
    <![endif]-->
    <%- include("../partials/navbar.ejs") %>
    <!-- Custom content -->

    <div
      class="w-50 animate__animated animate__bounceInUp z-depth-2 container center padding-20 unique-color-dark text-primary"
      style="margin-bottom: 13%;"
    >
      <form
        action="/api/avatars/createOrReplace"
        method="post"
        encType="multipart/form-data"
        class=""
      >
        <input type="hidden" name="userID" value="<%- user.id %>" />
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text" id="file">Upload image</span>
          </div>
          <div class="custom-file">
            <input
              type="file"
              class="custom-file-input"
              id="file"
              name="file"
              aria-describedby="file"
            />
            <label class="custom-file-label" for="file">Choose file</label>
          </div>
        </div>
        <br />
        <button type="submit" class="btn btn-primary">Confirm</button>
        <a
          href="/me/settings"
          class="btn btn-outline-danger"
          onclick="window.history.back()"
          >Cancel</a
        >
      </form>
    </div>

    <!-- Included content -->
    <%- include("../partials/footer.ejs") %> <%- include("../partials/js.ejs")
    %>
  </body>
</html>
