<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
  <!--<![endif]-->
  <head>
    <%- include("./partials/head.ejs") %>
  </head>
  <body>
    <!--[if lt IE 7]>
      <p class="browsehappy">
        You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your
        experience.
      </p>
    <![endif]-->
    <%- include("./partials/navbar.ejs") %>
    <!-- Custom content -->

    <%- include("./partials/back-btn.ejs") %>
    <br />

    <div class="container center text-primary padding-20 unique-color-dark z-depth-2">
      <ul class="list-group list-group-flush">
        <li class="list-group-item unique-color-dark">
          <a href="/contact/email">Email</a>
        </li>
        <li class="list-group-item unique-color-dark">
          <a href="/contact/facebook">Facebook</a>
        </li>
        <li class="list-group-item unique-color-dark">
          <a href="/contact/discord">Discord</a>
        </li>
        <li class="list-group-item unique-color-dark">
          <a href="/contact/twitter">Twitter</a>
        </li>
        <li class="list-group-item unique-color-dark">
          <a href="/contact/instagram">Instagram</a>
        </li>
        <li class="list-group-item unique-color-dark">
          <a href="/contact/linkedin">LinkedIn</a>
        </li>
      </ul>
    </div>

    <!-- Included content -->
    <%- include("./partials/footer.ejs") %> <%- include("./partials/js.ejs") %>
  </body>
</html>
