<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
  <!--<![endif]-->
  <head>
    <%- include("./partials/head.ejs") %>
  </head>
  <body>
    <!--[if lt IE 7]>
      <p class="browsehappy">
        You are using an <strong>outdated</strong> browser. Please
        <a href="#">upgrade your browser</a> to improve your experience.
      </p>
    <![endif]-->
    <%- include("./partials/navbar.ejs") %>
    <!-- Custom content -->

    <div
      class="animate__animated animate__bounceInUp z-depth-2 container center padding-20 unique-color-dark text-primary"
    >
      <div class="row">
        <div class="col">
          <img
            src="<%- user.avatarURL %>"
            alt="User avatar"
            class="avatar-img"
          />
          <form
            action="/api/avatars/delete/<%- user.id %>"
            method="post"
            class=""
          >
            <a
              href="/me/avatar/change"
              class="btn btn-outline-primary btn-sm my-2 my-sm-0"
            >
              Change
            </a>
            <button
              type="submit"
              class="btn btn-outline-primary btn-sm my-2 my-sm-0"
            >
              Delete
            </button>
          </form>

          <form
            action="/api/users/update/<%- user.id %>"
            method="post"
            class=""
          >
            <input type="hidden" name="avatarURL" value="<%- user.avatarURL ||
            "/avatars/default.png" %>">

            <div class="row">
              <div class="col-md-6 mb-3">
                <label for="firstName">First name</label>
                <input
                  type="text"
                  name="firstName"
                  class="form-control"
                  value="<%- user.name.first %>"
                  id="firstName"
                  placeholder="First name"
                />
                <div class="invalid-feedback">
                  Please provide a valid first name
                </div>
              </div>
              <div class="col-md-6 mb-3">
                <label for="lastName">Last name</label>
                <input
                  type="text"
                  name="lastName"
                  class="form-control"
                  value="<%- user.name.last %>"
                  id="lastName"
                  placeholder="Last name"
                />
                <div class="invalid-feedback">
                  Please provide a valid last name
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-6 mb-3">
                <label for="email">Email address</label>
                <input
                  type="email"
                  class="form-control"
                  id="email"
                  name="email"
                  aria-describedby="email"
                  value="<%- user.email %>"
                  placeholder="Email address"
                />
                <div class="invalid-feedback">
                  Please provide a valid email address
                </div>
              </div>
              <div class="col-md-6 mb-3">
                <label for="username">Username</label>
                <input
                  type="text"
                  name="username"
                  class="form-control"
                  value="<%- user.username %>"
                  id="username"
                  placeholder="Username"
                />
                <div class="invalid-feedback">
                  Usernames may only contain english characters, underscores and
                  hyphens
                </div>
              </div>
            </div>
            <div class="row">
              <div class="form-group col-md-6 mb-3">
                <label for="password">Password</label>
                <input
                  type="password"
                  class="form-control"
                  name="password"
                  id="password"
                  placeholder="Password"
                />
                <div class="invalid-feedback">
                  Passwords must contain at least 8 characters, 1 upperacse and
                  1 loweracse letter, 1 number and 1 special character
                </div>
              </div>
              <div class="form-group col-md-6 mb-3">
                <label for="confirmPassword">Confirm password</label>
                <input
                  type="password"
                  class="form-control"
                  name="confirmPassword"
                  id="confirmPassword"
                  placeholder="Confirm password"
                />
                <div class="invalid-feedback">
                  Passwords must contain at least 8 characters, 1 upperacse and
                  1 loweracse letter, 1 number and 1 special character
                </div>
              </div>
            </div>

            <div class="form-group">
              <label for="bio">Description</label>
              <textarea
                class="form-control"
                name="bio"
                id="bio"
                cols="30"
                rows="10"
                placeholder="Description"
              >
<%- user.bio ||
              "" %></textarea
              >
            </div>

            <br />

            <button type="submit" class="btn btn-primary">Update</button>
            <a href="/me" class="btn btn-outline-danger">Cancel</a>
          </form>
        </div>
      </div>
    </div>

    <!-- Included content -->
    <%- include("./partials/footer.ejs") %> <%- include("./partials/js.ejs") %>
  </body>
</html>
