<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
  <!--<![endif]-->
  <head>
    <%- include("../partials/head.ejs") %>
  </head>
  <body>
    <!--[if lt IE 7]>
      <p class="browsehappy">
        You are using an <strong>outdated</strong> browser. Please
        <a href="#">upgrade your browser</a> to improve your experience.
      </p>
    <![endif]-->

    <%- include("../partials/navbar.ejs") %>

    <div
      class="animate__animated animate__bounceInUp z-depth-2 container center padding-20 unique-color-dark text-primary"
      style="margin-bottom: 20%;"
    >
      <h2>
        Seems like something went wrong on our end
        <i class="far fa-frown"></i>
      </h2>
      <hr class="red" />
      <% if (error) %>
      <code><%-error.stack || error %></code>
      <% %>
      <hr class="red" />
      <a href="/">Back home?</a>
    </div>

    <%- include("../partials/footer.ejs") %> <%- include("../partials/js.ejs")
    %>
  </body>
</html>
